.saveButton {
  @apply items-center mr-2 rounded-md border border-transparent;
  @apply bg-primary-500 px-4 py-2 text-sm font-medium text-white;
  @apply shadow-sm hover:bg-primary-700;
  @apply focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2;
}

.resetButton {
  @apply inline-flex items-center rounded-md border border-gray-300;
  @apply bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm;
  @apply hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2;
}

.textAreaInput {
  @apply block w-full border-gray-300 dark:text-gray-900 ;
  @apply rounded-md border-gray-300 shadow-sm ;
  @apply focus:border-primary-500 focus:ring-primary-500 sm:text-sm;
}
