.saveButton {
  @apply items-center mr-2 rounded-md border border-transparent;
  @apply bg-primary-500 px-4 py-2 text-sm font-medium text-white;
  @apply shadow-sm hover:bg-primary-700;
  @apply focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2;
}

.dropdownButton {
  @apply font-normal mt-2 w-full rounded-md border-0 bg-gray-50 text-gray-900 ring-1 ring-inset;
  @apply ring-gray-300 focus:ring-2 focus:ring-primary-600 sm:text-sm sm:leading-6;
}
